@model Ispit_2017_09_11_DotnetCore.ViewModels.DodavanjeUcenikOdjeljenjeVM

    <div class="row mt-5">
        <h4>Dodavanje ucenika u odjeljenje</h4>
        <hr />
        <div class="col-md-6 col-lg-4 col-sm-12 border-black pt-2">
            <form  class="mb-5 mt-10" asp-action="Dodaj" method="post" ajax-poziv="da" ajax-notify="da" ajax-message="Uspjesno dodat ucenik">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" asp-for="UcenikId"></label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control text-center" asp-for="UcenikId" asp-items="@Model.Ucenici"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" asp-for="BrojUDnevniku"></label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control text-center" asp-for="BrojUDnevniku" />
                    </div>
                </div>
                @Html.HiddenFor(x => x.OdjeljenjeId)
                <hr />
                <div class="row">
                    <div class="col-md-3 col-lg-2 col-sm-5">
                        <button type="submit" class="btn btn-primary">Snimi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>