@model RS1_Ispit_asp.net_core.ViewModels.ParametriPretragePopravnihVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Pretraga popravnih ispita</h2>
</div>
<hr/>
<div class="row">
    <div class="col-md-5">
        <form asp-action="Pretraga" method="post">
            <div class="row mt-8">
                <div class="col-md-4">
                    <label class="control-label" asp-for="SkolskaGodinaId"></label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" asp-for="SkolskaGodinaId" asp-items="Model.SkolskeGodine"></select>
                </div>
            </div>

            <div class="row mt-8">
                <div class="col-md-4">
                    <label class="control-label" asp-for="SkolaId"></label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" asp-for="SkolaId" asp-items="Model.Skole"></select>
                </div>
            </div>

            <div class="row mt-8">
                <div class="col-md-4">
                    <label class="control-label" asp-for="PredmetId"></label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" asp-for="PredmetId" asp-items="Model.Predmeti"></select>
                </div>
            </div>
            <div class="row mt-8">
                <div class="col-md-3">
                    <button class="btn btn-primary" type="submit">Trazi</button>
                </div>
            </div>
        </form>
    </div>
</div>


