@model RS1_Ispit_asp.net_core.ViewModels.RezultatEditVM

<div class="row mt-5">
    <h4>Evidentiranje rezultata</h4>
    <div class="col-md-6 col-lg-5 col-sm-12">
        <form asp-action="RezultatEdit" method="post" ajax-poziv="da" ajax-rezultat="rezultatiTakmicenja">
            <div class="row mt-5">
                <div class="col-md-6">
                    <label asp-for="Ucesnik" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Ucesnik" class="form-control" readonly/>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <label asp-for="OsvojeniBodovi" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="OsvojeniBodovi" class="form-control" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">
                    <button class="btn btn-primary" type="submit">Snimi</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.TakmicenjeUcesnikId)
        </form>
    </div>
</div>