@model RS1_Ispit_asp.net_core.ViewModels.NastavniciPredavaciVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5">Odaber nastavnika</h2>
<hr />

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Skola</th>
            <th>Ime i prezime nastavnika</th>
            <th>Akcija</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var x in Model.Nastavnici)
        {
            <tr>
                <td>@x.Skola</td>
                <td>@x.ImePrezime</td>
                <td><a asp-action="GetAll" asp-route-nastavnikId="@x.Id">Odaberi</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

