body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.text-danger {
    color: red !important;
}

.text-green {
    color: green !important;
}

.text-light {
    color: rgba(255,255,255,0.75) !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.login-body {
    background: rgba(53, 53, 170, 0.85);
}

.simple-login-container {
    width: 300px;
    max-width: 100%;
    margin: 50px auto;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
