body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.pt-5 {
    padding-top: 5px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.text-green {
    color: rgb(25, 180, 25) !important;
}
.text-green:hover {
    color: rgb(107, 155, 92) !important;
}

.text-red {
    color: rgb(165, 9, 9) !important;
}
  .text-red:hover {
        color: red !important;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
