@{
    ViewBag.Title = "Index";
}
<h2>Home/Index</h2>
<h2>Dobro došli</h2>

@Html.ActionLink("Fahir DB Initializer","DbSeed","Home");
<br />
@Html.ActionLink("Ajax text", "Index", "AjaxTest")
<br />
@Html.ActionLink("OdrzaniCas/All", "All", "OdrzaniCas") << -- Potrebno implementirati!